<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="blog-set">
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="blog-set-model">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">博客设置
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close id="close-blog-set-model">&times;</a>
            </div>
            <div class="am-modal-bd">
                <button type="button" class="am-btn am-btn-default am-round" onclick="openBaseInformationModel();">基础信息设置</button>
                <button type="button" class="am-btn am-btn-default am-round" onclick="openOtherInformationModel();">其他信息设置</button>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-prompt" tabindex="-1" id="base-information-model">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"><h1>基础信息</h1></div>
            <div class="am-modal-bd">
                <br/>
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="owner-name" class="am-u-sm-2 am-form-label">昵称</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="owner-name" placeholder="输入昵称" maxlength="10" th:if="${blog} == null or ${blog.ownerName} == null">
                            <input type="text" id="owner-name" placeholder="输入昵称" maxlength="10" th:if="${blog} != null and ${blog.ownerName} != null" th:value="${blog.ownerName}">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="owner-introduction" class="am-u-sm-2 am-form-label">简介</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="owner-introduction" placeholder="请输入简介" maxlength="100" th:if="${blog} == null or ${blog.ownerIntroduction} == null">
                            <input type="text" id="owner-introduction" placeholder="请输入简介" maxlength="100" th:if="${blog} != null and ${blog.ownerIntroduction} != null" th:value="${blog.ownerIntroduction}">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="owner-github" class="am-u-sm-2 am-form-label">Github</label>
                        <div class="am-u-sm-10">
                            <input type="url" id="owner-github" placeholder="请输入Github" maxlength="100" th:if="${blog} == null or ${blog.ownerGithub} == null">
                            <input type="url" id="owner-github" placeholder="请输入Github" maxlength="100" th:if="${blog} != null and ${blog.ownerGithub} != null" th:value="${blog.ownerGithub}">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="owner-email" class="am-u-sm-2 am-form-label">邮箱</label>
                        <div class="am-u-sm-10">
                            <input type="email" id="owner-email" placeholder="请输入Email" maxlength="100" th:if="${blog} == null or ${blog.ownerEmail} == null">
                            <input type="email" id="owner-email" placeholder="请输入Email" maxlength="100" th:if="${blog} != null and ${blog.ownerEmail} != null" th:value="${blog.ownerEmail}">
                        </div>
                    </div>
                </form>
                <br/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确认</span>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-prompt" tabindex="-1" id="other-information-model">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"><h1>其他信息</h1></div>
            <div class="am-modal-bd">
                <br/>
                <form class="am-form am-form-inline" enctype="multipart/form-data" id="other-information-form">
                    <div class="am-form-group">
                        <select id="informationName" name="informationName">
                            <option value="logo-ico">博客图标</option>
                            <option value="logo">博客logo</option>
                            <option value="head-img">博客头像</option>
                            <option value="my-qq">QQ二维码</option>
                            <option value="my-weibo">微博二维码</option>
                            <option value="my-weixin">微信二维码</option>
                        </select>
                    </div>
                    <div class="am-form-group am-form-file">
                        <button type="button" class="am-btn am-btn-default am-btn-sm">
                            <i class="am-icon-cloud-upload"></i> 选择要上传的图片</button>
                        <input type="file" multiple accept="image/*" id="uploadBlogImage" name="uploadBlogImage">
                    </div>
                    <p style="color: red;">* 图片大小不能超过50MB</p>
                </form>
                <br/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确认</span>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-no-btn" tabindex="-1" id="upload-file-progress-model">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">正在上传
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close id="close-upload-file-process-model"></a>
            </div>
            <div class="am-modal-bd">
                <div class="am-progress am-progress-striped am-active ">
                    <div class="am-progress-bar am-progress-bar-secondary"  style="width: 0.00%" id="upload-file-progress">0.00%</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>