<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="blog-introduction">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>关于我</span></h2>
            <img src="/assets/img/head-img.jpg" alt="about me" class="blog-entry-img" >
            <p>随遇而安。</p>
            <p>一个热爱生活的天秤座程序员</p>
            <!-- <p>我不想成为一个庸俗的人。十年百年后，当我们死去，质疑我们的人同样死去，后人看到的是裹足不前、原地打转的你，还是一直奔跑、走到远方的我？</p> -->
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>约起来</span></h2>
            <p>
                <!-- <a href=""> --><span class="am-icon-qq am-icon-fw am-primary blog-icon" data-am-popover="{content: '<img src=\'/assets/img/my-qq.jpg\' height=\'300\' weight=\'200\'>'}"></span><!-- </a> -->
                <a href="https://github.com/352251493"><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <!-- <a href=""> --><span class="am-icon-weibo am-icon-fw blog-icon" data-am-popover="{content: '<img src=\'/assets/img/my-weibo.png\' height=\'300\' weight=\'200\'>'}"></span><!-- </a> -->
                <!-- <a href=""> --><span class="am-icon-envelope am-icon-fw blog-icon" data-am-popover="{content: 'Email:guoxinguang123@qq.com'}"></span><!-- </a> -->
                <!-- <a href=""> --><span class="am-icon-weixin am-icon-fw blog-icon" data-am-popover="{content: '<img src=\'/assets/img/my-weixin.png\' height=\'300\' weight=\'200\'>'}"></span><!-- </a> -->
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>我的标签</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
                <span class="blog-tag">技术宅</span>
                <span class="blog-tag">眼镜男</span>
                <span class="blog-tag">IT民工</span>
                <span class="blog-tag">选择恐惧症</span>
                <span class="blog-tag">吃饱才有力气减肥</span>
                <!-- <a href="" class="blog-tag">妹纸 UI</a>
                <a href="" class="blog-tag">HTML5</a>
                <a href="" class="blog-tag">这是标签</a>
                <a href="" class="blog-tag">Impossible</a>
                <a href="" class="blog-tag">开源前端框架</a> -->
            </div>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>毒鸡汤</span></h2>
            <ul class="am-list">
                <li><!-- <a href="#"> --><p><br/>每个人都有一个死角， 自己走不出来，别人也闯不进去。</p><!-- </a> --></li>
                <li><!-- <a href="#"> --><p><br/>我把最深沉的秘密放在那里。</p><!-- </a> --></li>
                <li><!-- <a href="#"> --><p><br/>你不懂我，我不怪你。</p><!-- </a> --></li>
                <li><!-- <a href="#"> --><p><br/>每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</p><!-- </a> --></li>
                <li><!-- <a href="#"> --><p><br/>有时候你不努力一下，你都不知道什么叫绝望。</p><!-- </a> --></li>
            </ul>
            </ul>
        </div>
    </div>
</body>
</html>