<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="loading">
    <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="loading-model">
        <div class="am-modal-dialog">
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close id="close-loading-model"></a>
            <div class="am-modal-hd" id="loading-content">正在载入...</div>
            <div class="am-modal-bd">
                <span class="am-icon-spinner am-icon-spin"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>