<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="reset-password">
    <div class="am-modal am-modal-prompt" tabindex="-1" id="reset-password-model">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"><h1>修改密码</h1></div>
            <div class="am-modal-bd">
                <br/>
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="old-password" class="am-u-sm-4 am-form-label">原密码</label>
                        <div class="am-u-sm-8">
                            <input type="password" id="old-password" placeholder="请输入原密码" maxlength="15">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="new-password" class="am-u-sm-4 am-form-label">新密码</label>
                        <div class="am-u-sm-8">
                            <input type="password" id="new-password" placeholder="请输入新密码" maxlength="15">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="repeat-new-password" class="am-u-sm-4 am-form-label">重复密码</label>
                        <div class="am-u-sm-8">
                            <input type="password" id="repeat-new-password" placeholder="请输入新密码" maxlength="15">
                        </div>
                    </div>
                </form>
                <br/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确认</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>