<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title th:if="${blog} == null or ${blog.ownerName} == null">随遇而安.的个人博客</title>
  <title th:if="${blog} != null and ${blog.ownerName} != null" th:text="${blog.ownerName} + '的个人博客'">随遇而安.的个人博客</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="/assets/img/logo-ico.png" th:if="${blog} == null or ${blog.logoIco} == null">
  <link rel="icon" type="image/png" th:href="${blog.logoIco}" th:if="${blog} != null and ${blog.logoIco} != null">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/assets/img/logo-ico.png" th:if="${blog} == null or ${blog.logoIco} == null">
  <link rel="icon" sizes="192x192" th:href="${blog.logoIco}" th:if="${blog} != null and ${blog.logoIco} != null">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="随遇而安.的个人博客" th:if="${blog} == null or ${blog.ownerName} == null"/>
  <meta name="apple-mobile-web-app-title" th:content="${blog.ownerName} + '的个人博客'" th:if="${blog} != null and ${blog.ownerName} != null"/>
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body id="blog-article-sidebar">
<!-- header start -->
<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header" th:include="/html_templates/header.html :: header">
</header>
<!-- header end -->
<hr>

<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav" th:include="/html_templates/nav.html :: nav"></nav>
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-md-8 am-u-sm-12">
      <article class="am-article blog-article-p">
        <div class="am-article-hd">
          <h1 class="am-article-title blog-text-center" th:text="${article.title}">我的文章哎</h1>
          <p class="am-article-meta blog-text-center">
              <span>
                  <a href="/life/" class="blog-color" th:if="${article.label} eq '生活情感'" th:utext="${article.label} + '&nbsp;'">生活情感 &nbsp;</a>
                  <a href="/study/" class="blog-color" th:if="${article.label} eq '学习感悟'" th:utext="${article.label} + '&nbsp;'">学习感悟 &nbsp;</a>
              </span>-
              <span>
                  <a th:if="${article.author} == null">随遇而安。 &nbsp;</a>
                  <a th:if="${article.author} != null" th:utext="${article.author} + '&nbsp;'">随遇而安。 &nbsp;</a>
              </span>-
              <span><a th:text="${#strings.substringBefore(article.modificationTime, '.')}">----</a></span>-
              <span><a th:text="'阅读量：' + ${article.readNumber}">----</a></span>
          </p>
        </div>        
        <div class="am-article-bd">
            <img src="/assets/i/f10.jpg" alt="" class="blog-entry-img blog-article-margin" th:if="${article.imgUrl} == null">
            <img th:src="${article.imgUrl}" alt="" class="blog-entry-img blog-article-margin" th:if="${article.imgUrl} != null">
            <p class="am-article-lead">
                摘要：
                <blockquote th:text="${article.articleAbstract}">你可以选择在原处不停地跟周遭不解的人解释你为何这么做，让他们理解你，你可以选择什么都不讲，自顾自往前走。</blockquote>
                <div th:utext="${articleDetails}">
                </div>
            </p>
        </div>
      </article>
        
        <div class="am-g blog-article-widget blog-article-margin" th:if="${user} != null">
          <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
            <!--<span class="am-icon-tags"> &nbsp;</span><a href="#">标签</a> , <a href="#">TAG</a> , <a href="#">啦啦</a>-->
            <!--<hr>-->
            <a href="javascript:openEditArticleModel();"><span class="am-primary blog-icon">编辑</span></a>
            <a th:href="'javascript:deleteArticle(\'' + ${article.id} + '\');'"><span class="blog-icon">删除</span></a>
            <!--<a href=""><span class="blog-icon"></span></a>-->
          </div>
        </div>

        <hr>
        <ul class="am-pagination blog-article-margin">
            <li class="am-pagination-prev am-disabled" th:if="${preArticle} == null"><a href="#" class="">&laquo; 没有了</a></li>
            <li class="am-pagination-prev" th:if="${preArticle} != null"><a th:href="'/article/details/' + ${preArticle.id}" class="" th:utext="'&laquo;' + ${preArticle.title}">&laquo; 一切的回顾</a></li>
            <li class="am-pagination-next am-disabled" th:if="${nextArticle} == null"><a href="">没有了 &raquo;</a></li>
            <li class="am-pagination-next" th:if="${nextArticle} != null"><a th:href="'/article/details/' + ${nextArticle.id}" th:utext="${nextArticle.title} + '&raquo;'">没有了 &raquo;</a></li>
        </ul>
        
        <hr>

        <form class="am-form am-g">
            <h3 class="blog-comment">评论</h3>
          <fieldset>
            <div class="am-form-group am-u-sm-4 blog-clear-left">
              <input type="text" class="" placeholder="名字">
            </div>
            <div class="am-form-group am-u-sm-4">
              <input type="email" class="" placeholder="邮箱">
            </div>

            <div class="am-form-group am-u-sm-4 blog-clear-right">
              <input type="password" class="" placeholder="网站">
            </div>
        
            <div class="am-form-group">
              <textarea class="" rows="5" placeholder="一字千金"></textarea>
            </div>
        
            <p><button type="submit" class="am-btn am-btn-default">发表评论</button></p>
          </fieldset>
        </form>

        <hr>
        <div class="am-g blog-author blog-article-margin">
            <h3 class="blog-title"><span>评论列表</span></h3>
            <div id="article-comment-list">
                暂时还没有人评论哦~
                <!--<hr/>-->
                <!--<div class="am-u-sm-3 am-u-md-3 am-u-lg-2">-->
                    <!--<img src="/assets/i/i1.jpg" alt="" class="blog-author-img am-circle">-->
                <!--</div>-->
                <!--<div class="am-u-sm-9 am-u-md-9 am-u-lg-10">-->
                    <!--<h3 class="am-cf">-->
                        <!--<span>随遇而安 &nbsp;: &nbsp;</span><span class="blog-color">2018-11-1 9:42:32</span>-->
                        <!--<a class="am-btn am-btn-link am-fr" style="color: red"><i class="am-icon-trash am-icon-fw"></i></a>-->
                    <!--</h3>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
                <!--</div>-->
                <!--<hr/>-->
                <!--<div class="am-u-sm-3 am-u-md-3 am-u-lg-2">-->
                    <!--<img src="/assets/i/i2.jpg" alt="" class="blog-author-img am-circle">-->
                <!--</div>-->
                <!--<div class="am-u-sm-9 am-u-md-9 am-u-lg-10">-->
                    <!--<h3><span>随遇而安 &nbsp;: &nbsp;</span><span class="blog-color">2018-11-1 9:42:32</span></h3>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
                <!--</div>-->
                <!--<hr/>-->
                <!--<div class="am-u-sm-3 am-u-md-3 am-u-lg-2">-->
                    <!--<img src="/assets/i/i3.jpg" alt="" class="blog-author-img am-circle">-->
                <!--</div>-->
                <!--<div class="am-u-sm-9 am-u-md-9 am-u-lg-10">-->
                    <!--<h3><span>随遇而安 &nbsp;: &nbsp;</span><span class="blog-color">2018-11-1 9:42:32</span></h3>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
                <!--</div>-->
                <!--<hr/>-->
            </div>
            <div id="show-load-more-article-comment">
                <!--<button type="button" class="am-btn am-btn-default am-btn-block">点击加载更多</button>-->
            </div>
        </div>
        <hr>
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <!-- <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="assets/i/f161.jpg" alt="about me" class="blog-entry-img" >
            <p>妹纸</p>
            <p>
        我是妹子UI，中国首个开源 HTML5 跨屏前端框架
        </p><p>我不想成为一个庸俗的人。十年百年后，当我们死去，质疑我们的人同样死去，后人看到的是裹足不前、原地打转的你，还是一直奔跑、走到远方的我？</p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
            <a href="" class="blog-tag">amaze</a>
            <a href="" class="blog-tag">妹纸 UI</a>
            <a href="" class="blog-tag">HTML5</a>
            <a href="" class="blog-tag">这是标签</a>
            <a href="" class="blog-tag">Impossible</a>
            <a href="" class="blog-tag">开源前端框架</a>
            </div>
        </div> -->
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>最近发表</span></h2>
            <ul class="am-list" th:if="${latelyArticleList} == null">
                <li><a>该博主很懒，什么都没有哦~</a></li>
            </ul>
            <ul class="am-list" th:if="${latelyArticleList} != null">
                <li th:each="latelyArticle : ${latelyArticleList}"><a th:href="'/article/details/' + ${latelyArticle.id}" th:text="${latelyArticle.title}">---</a></li>
                <!--<li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>-->
                <!--<li><a href="#">我把最深沉的秘密放在那里。</a></li>-->
                <!--<li><a href="#">你不懂我，我不怪你。</a></li>-->
                <!--<li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>-->
            </ul>
        </div>
		<div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>最热文章</span></h2>
            <ul class="am-list" th:if="${hottestArticleList} == null">
                <li><a>该博主很懒，什么都没有哦~</a></li>
            </ul>
            <ul class="am-list" th:if="${hottestArticleList} != null">
                <li th:each="hottestArticle : ${hottestArticleList}"><a th:href="'/article/details/' + ${hottestArticle.id}" th:text="${hottestArticle.title}">---</a></li>
                <!--<li><a href="#">我把最深沉的秘密放在那里。</a></li>-->
                <!--<li><a href="#">你不懂我，我不怪你。</a></li>-->
                <!--<li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>-->
            </ul>
        </div>
    </div>
</div>
<!-- content end -->


<footer class="blog-footer" th:include="/html_templates/footer.html :: footer"></footer>

<div class="am-modal am-modal-confirm" tabindex="-1" id="delete-article-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除文章</div>
        <div class="am-modal-bd">
            确定要删除这篇文章吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="edit-article-model">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">编辑文章
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close id="close-edit-article-model">&times;</a>
        </div>
        <div class="am-modal-bd">
            <button type="button" class="am-btn am-btn-default am-round" onclick="openChangeArticleImgModel();">更换封面图片</button>
            <button type="button" class="am-btn am-btn-default am-round" th:onclick="'window.location.href=\'/article/edit/' + ${article.id} + '\''">编辑文章内容</button>
        </div>
    </div>
</div>

<div class="am-modal am-modal-prompt" tabindex="-1" id="change-article-img-model">
    <div class="am-modal-dialog">
        <div class="am-modal-hd"><h1>更换封面图片</h1></div>
        <div class="am-modal-bd">
            <br/>
            <form class="am-form am-form-inline" enctype="multipart/form-data" id="change-article-img-form" onsubmit="changeArticleImg(); return false;">
                <input type="hidden" id="articleId" name="articleId" th:value="${article.id}">
                <div class="am-form-group">
                    <label for="articleImg" class="am-form-label">封面图片</label>
                </div>
                <div class="am-form-group  am-form-file">
                    <button type="button" class="am-btn am-btn-default am-btn-sm">
                        <i class="am-icon-cloud-upload"></i> 选择要上传的图片</button>
                    <input type="file" multiple id="articleImg" name="articleImg" accept="image/*">
                </div>
            </form>
            <br/>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确认</span>
        </div>
    </div>
</div>

<div th:include="/html_templates/login.html :: login"></div>
<div th:include="/html_templates/alert.html :: alert"></div>
<div th:include="/html_templates/label.html :: label"></div>
<div th:include="/html_templates/short_words.html :: short-words"></div>
<div th:include="/html_templates/blog_set.html :: blog-set"></div>
<div th:include="/html_templates/loading.html :: loading"></div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="/http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="/http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="/my/js/util.js"></script>
<script src="/my/js/loading.js"></script>
<script src="/my/js/article.js"></script>
<!-- <script src="assets/js/app.js"></script> -->
</body>
</html>