<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title th:if="${blog} == null or ${blog.ownerName} == null">随遇而安.的个人博客</title>
  <title th:if="${blog} != null and ${blog.ownerName} != null" th:text="${blog.ownerName} + '的个人博客'">随遇而安.的个人博客</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="/assets/img/logo-ico.png" th:if="${blog} == null or ${blog.logoIco} == null">
  <link rel="icon" type="image/png" th:href="${blog.logoIco}" th:if="${blog} != null and ${blog.logoIco} != null">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/assets/img/logo-ico.png" th:if="${blog} == null or ${blog.logoIco} == null">
  <link rel="icon" sizes="192x192" th:href="${blog.logoIco}" th:if="${blog} != null and ${blog.logoIco} != null">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="随遇而安.的个人博客" th:if="${blog} == null or ${blog.ownerName} == null"/>
  <meta name="apple-mobile-web-app-title" th:content="${blog.ownerName} + '的个人博客'" th:if="${blog} != null and ${blog.ownerName} != null"/>
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body id="blog">
<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header" th:include="/html_templates/header.html :: header">
</header>
<hr>
<nav class="am-g am-g-fixed blog-fixed blog-nav" th:include="/html_templates/nav.html :: nav"></nav>
<hr>

<!-- banner start -->
<!-- <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
    <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}' >
    <ul class="am-slides">
      <li>
            <img src="assets/i/b1.jpg">
            <div class="blog-slider-desc am-slider-desc ">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">Article &nbsp;</a></span>               
                    <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                    <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                    </p>
                    <span class="blog-bor">2015/10/9</span>
                    <br><br><br><br><br><br><br>                
                </div>
            </div>
      </li>
      <li>
            <img src="assets/i/b2.jpg">
            <div class="am-slider-desc blog-slider-desc">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">Article &nbsp;</a></span>               
                    <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                    <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                    </p>
                    <span>2015/10/9</span>                
                </div>
            </div>
      </li>
      <li>
            <img src="assets/i/b3.jpg">
            <div class="am-slider-desc blog-slider-desc">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">Article &nbsp;</a></span>               
                    <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                    <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                    </p>
                    <span>2015/10/9</span>                
                </div>
            </div>
      </li>
      <li>
            <img src="assets/i/b2.jpg">
            <div class="am-slider-desc blog-slider-desc">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">Article &nbsp;</a></span>               
                    <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                    <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                    </p>
                    <span>2015/10/9</span>                
                </div>
            </div>
      </li>
    </ul>
    </div>
</div> -->
<!-- banner end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">
        <h1 class="am-text-center">编辑文章</h1>
        <form class="am-form am-form-horizontal" id="article-form" onsubmit="editArticle(); return false;">
            <input type="hidden" id="articleId" name="articleId" th:value="${article.id}">
            <div class="am-form-group">
                <label for="articleTitle" class="am-u-sm-2 am-form-label">标题</label>
                <div class="am-u-sm-10">
                    <input type="text" id="articleTitle" name="articleTitle" placeholder="请输入标题,不得超过100字符" maxlength="100" th:value="${article.title}">
                </div>
            </div>

            <div class="am-form-group">
                <label for="articleAbstract" class="am-u-sm-2 am-form-label">摘要</label>
                <div class="am-u-sm-10">
                    <textarea rows="5" id="articleAbstract" name="articleAbstract" maxlength="200" placeholder="请输入文章摘要，不得超过200字符" th:text="${article.articleAbstract}"></textarea>
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-u-sm-2 am-form-label">类别</label>
                <div class="am-u-sm-10">
                    <label class="am-radio-inline">
                        <input type="radio"  value="生活情感" name="articleLabel" checked th:if="${article.label} eq '生活情感'">
                        <input type="radio"  value="生活情感" name="articleLabel" th:if="${article.label} ne '生活情感'">
                        <input type="radio"  value="生活情感" name="articleLabel" checked th:if="${article.label} ne '生活情感' and ${article.label} ne '学习感悟'"> 生活情感
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" name="articleLabel" value="学习感悟" th:if="${article.label} eq '学习感悟'" checked>
                        <input type="radio" name="articleLabel" value="学习感悟" th:if="${article.label} ne '学习感悟'"> 学习感悟
                    </label>
                </div>
            </div>
            <div class="am-form-group">
                <label for="article-content" class="am-u-sm-2 am-form-label">正文</label>
                <div class="am-u-sm-10">
                    <div id="article-content" th:utext="${articleDetails}">
                        <style>
                            /* table 样式 */
                            table {
                                border-top: 1px solid #ccc;
                                border-left: 1px solid #ccc;
                            }
                            table td,
                            table th {
                                border-bottom: 1px solid #ccc;
                                border-right: 1px solid #ccc;
                                padding: 3px 5px;
                            }
                            table th {
                                border-bottom: 2px solid #ccc;
                                text-align: center;
                            }

                            /* blockquote 样式 */
                            blockquote {
                                display: block;
                                border-left: 8px solid #d0e5f2;
                                padding: 5px 10px;
                                margin: 10px 0;
                                line-height: 1.4;
                                font-size: 100%;
                                background-color: #f1f1f1;
                            }

                            /* code 样式 */
                            code {
                                display: inline-block;
                                *display: inline;
                                *zoom: 1;
                                background-color: #f1f1f1;
                                border-radius: 3px;
                                padding: 3px 5px;
                                margin: 0 3px;
                            }
                            pre code {
                                display: block;
                            }

                            /* ul ol 样式 */
                            ul, ol {
                                margin: 10px 0 10px 20px;
                            }
                        </style>
                    </div>
                </div>
            </div>
            <div class="am-form-group">
                <div class="am-u-sm-10 am-u-sm-offset-2">
                    <button type="submit" class="am-btn am-btn-default">提交</button>
                </div>
            </div>
        </form>
        <!--<article class="am-g blog-entry-article">-->
            <!--<div class="am-u-lg-12 am-u-md-12 am-u-sm-12 am-u-sm-centered blog-entry-img">-->
                <!--<img src="/assets/i/f10.jpg" alt="" class="am-u-sm-12">-->
            <!--</div>-->
            <!--<div class="am-u-lg-12 am-u-md-12 am-u-sm-12 blog-entry-text blog-text-center">-->
                <!--<span><a href="" class="blog-color">article &nbsp;</a></span>-->
                <!--<span> @amazeUI &nbsp;</span>-->
                <!--<span>2015/10/9</span>-->
                <!--<h1><a href="">我本楚狂人，凤歌笑孔丘</a></h1>-->
                <!--<p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。-->
                <!--</p>-->
                <!--<p><a href="" class="blog-continue">continue reading</a></p>-->
            <!--</div>-->
        <!--</article>-->

        <!--<article class="am-g blog-entry-article">-->
            <!--<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">-->
                <!--<img src="/assets/i/f6.jpg" alt="" class="am-u-sm-12">-->
            <!--</div>-->
            <!--<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">-->
                <!--<span><a href="" class="blog-color">article&nbsp;</a></span>-->
                <!--<span>@amazeUI &nbsp;</span>-->
                <!--<span>2015/10/9</span>-->
                <!--<h1><a href="">世间所有的相遇，都是久别重逢。</a></h1>-->
                <!--<p>你可以选择在原处不停地跟周遭不解的人解释你为何这么做，让他们理解你，你可以选择什么都不讲，自顾自往前走。-->
                <!--</p>-->
                <!--<p><a href="" class="blog-continue">continue</a></p>-->
            <!--</div>-->
        <!--</article>-->

        <!--<article class="am-g blog-entry-article">-->
            <!--<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">-->
                <!--<img src="/assets/i/f12.jpg" alt="" class="am-u-sm-12">-->
            <!--</div>-->
            <!--<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">-->
                <!--<span><a href="" class="blog-color">article&nbsp;</a></span>-->
                <!--<span>@amazeUI</span>-->
                <!--<span>2015/10/9</span>-->
                <!--<h1><a href="">陌上花开，可缓缓归矣。</a></h1>-->
                <!--<p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。我们就在骑楼下躲雨，看绿色的邮筒孤独地站在街的对面。-->
                <!--</p>-->
                <!--<p><a href="" class="blog-continue">continue</a></p>-->
            <!--</div>-->
        <!--</article>-->

        <!--<article class="am-g blog-entry-article">-->
            <!--<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">-->
                <!--<img src="/assets/i/f22.jpg" alt="" class="am-u-sm-12">-->
            <!--</div>-->
            <!--<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">-->
                <!--<span><a href="" class="blog-color">article&nbsp;</a></span>-->
                <!--<span>@amazeUI</span>-->
                <!--<span>2015/10/9</span>-->
                <!--<h1><a href="">爱自己是终生浪漫的开始</a></h1>-->
                <!--<p>the whole of life becomes an act of letting go, but what always hurts the most is not taking a moment to say goodbye-->
                <!--</p>-->
                <!--<p><a href="" class="blog-continue">continue</a></p>-->
            <!--</div>-->
        <!--</article>-->

        <!--<article class="am-g blog-entry-article">-->
            <!--<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">-->
                <!--<img src="/assets/i/f18.jpg" alt="" class="am-u-sm-12">-->
            <!--</div>-->
            <!--<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">-->
                <!--<span><a href="" class="blog-color">article&nbsp;</a></span>-->
                <!--<span> @amazeUI &nbsp;</span>-->
                <!--<span>2015/10/9</span>-->
                <!--<h1><a href="">My dear amazeUI, Hello </a></h1>-->
                <!--<p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。我们就在骑楼下躲雨，看绿色的邮筒孤独地站在街的对面。-->
                <!--</p>-->
                <!--<p><a href="" class="blog-continue">continue reading</a></p>-->
            <!--</div>-->
        <!--</article>-->

        <!--<article class="am-g blog-entry-article">-->
            <!--<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">-->
                <!--<img src="/assets/i/f20.jpg" alt="" class="am-u-sm-12">-->
            <!--</div>-->
            <!--<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">-->
                <!--<span><a href="" class="blog-color">article&nbsp;</a></span>-->
                <!--<span> @amazeUI &nbsp;</span>-->
                <!--<span>2015/10/9</span>-->
                <!--<h1><a href="">My way or the highway</a></h1>-->
                <!--<p>A big wind rises， clouds are driven away. Home am Inow the world is under my sway. Where are brave men to guard the four frontiers today！ -->
                <!--</p>-->
                <!--<p><a href="" class="blog-continue">continue reading</a></p>-->
            <!--</div>-->
        <!--</article>-->

         <!--<article class="am-g blog-entry-article">-->
            <!--<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">-->
                <!--<img src="/assets/i/f19.jpg" alt="" class="am-u-sm-12">-->
            <!--</div>-->
            <!--<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">-->
                <!--<span><a href="" class="blog-color">article&nbsp;</a></span>-->
                <!--<span> @amazeUI &nbsp;</span>-->
                <!--<span>2015/10/9</span>-->
                <!--<h1><a href="">一想到你，我这张丑脸上就泛起微笑</a></h1>-->
                <!--<p>那一天我二十一岁，在我一生的黄金时代。我有好多奢望。我想爱，想吃，还想在一瞬间变成天上半明半暗的云。-->
                <!--</p>-->
                <!--<p><a href="" class="blog-continue">continue reading</a></p>-->
            <!--</div>-->
        <!--</article>-->
        <!---->
        <!--<ul class="am-pagination am-pagination-right">-->
            <!--<li><a href="">&laquo; 上一页</a></li>-->
            <!--<li class="am-disabled"><a href="#">1/2</a></li>-->
            <!--<li><a href="">下一页 &raquo;</a></li>-->
        <!--</ul>-->
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar" th:include="/html_templates/blog_introduction.html :: blog-introduction"></div>
</div>
<!-- content end -->


<footer class="blog-footer" th:include="/html_templates/footer.html :: footer"></footer>

<div th:include="/html_templates/login.html :: login"></div>
<div th:include="/html_templates/alert.html :: alert"></div>
<div th:include="/html_templates/label.html :: label"></div>
<div th:include="/html_templates/short_words.html :: short-words"></div>
<div th:include="/html_templates/blog_set.html :: blog-set"></div>
<div th:include="/html_templates/loading.html :: loading"></div>





<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>

<script src="/my/js/util.js"></script>
<script src="/my/js/label.js"></script>
<script src="/my/js/short_words.js"></script>
<!--wangEditor富文本编辑器-->
<script src="/my/js/wangEditor/release/wangEditor.min.js"></script>
<script src="/my/js/article_edit.js"></script>
<script src="/my/js/loading.js"></script>
<!-- <script src="assets/js/app.js"></script> -->
</body>
</html>